@media (min-width:300px) and (max-width:667px) {
  * {
    font-size: 1rem;
  }

  p {
    font-family: "Lato";
    padding: 10px;
    font-size: 1rem;
  }

  #dark-mode-toggle {
    top: 5px;
    right: 10px;
    color: var(--papaya-whip);
  }

  #burger-icon {
    display: inline-flex;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    left: 55%;
    top: 15%;
  }

  #burger-icon::before {
    content: '\2630 MENU';
    color: var(--papaya-whip);
  }

  #burger-icon.active::before {
    content: '✖ MENU';
  }

  nav {
    display: none;
    width: 100%;
  }

  nav.show {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    margin-top: 100px;
  }

  #banner,
  .closeBanner {
    top: 30px;
  }

  .book {
    padding: 5px 15px;
    font-size: 1rem;
  }

  .h1-hero {
    font-size: 1.5rem;
    width: 90%;
    text-align: left;
  }

  #formcon {
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
  }

  #sidebar,
  .main-area1,
  .main-area2 {
    grid-column: span 1;
    margin: 1rem 0;
    padding: 0 1rem;
    height: auto;
  }

  .home-grid {
    display: block;
  }

  #weather-info {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0.5rem;
  }

  #weather-info .card,
  #weather-info .card p {
    margin: 5px 0;
    padding: 0;
  }

  .home-box {
    margin: 0;
    padding: 0 1rem;
  }

  .home-grid-cards {
    display: block;
    margin: 0 1rem;
  }

  .button {
    padding: 5px 10px;
  }

  .logo {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0 auto;
  }

  #google-map,
  iframe {
    width: 100%;
    height: 300px;
  }

  .directory {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }

  .grid-list {
    margin: 10px 0 50px;
  }
}
@media (max-width: 667px) {
  #miHeader {
    background-color: #0c3338 !important;
  }
}

